/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}*/

/* hero image start */

.heroImage {
  height: 100vh;
  width: 100vw;
  padding: 0px;
  background-image: url('../assets/unsplash_1.jpeg');
  background-size: 100% 100%;
  position: absolute;
  filter: ;
}

.heroMask {
  height: 100vh;
  width: 100vw;
  background-color: #000;
  opacity: 0.5;
}

.authHeader {
  position: absolute;
  bottom: 30%;
  left: 30%;
  right: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.heroText {
  margin: 0px;
  color: #fff;
  font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
  font-size: 7em;
}

.heroBtn {
  color: deepskyblue;
}

.heroBtn:hover {
  background-image: none;
  background-color: rgba(255, 70, 27, 0.58);
  color: white;
}

/* hero image end */

a {
  color: #00B7FF;
}

h1 {
  padding-top: 50px;
}

.searchcontainer {
  margin-top: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.userinfo {
  /*background-color: #eee;*/
  font-size: 0.9em;
  margin-left: 10px;
  word-wrap: normal;
}

.userphotobox {
  margin: 10px auto;
  width: 200px;
  height: 200px;
  /*background-color: #aaa;*/
}

.userinfobox {
  margin: 10px auto;
  padding-left: 20px;
  /*background-color: #bbb;*/
}

.userphoto {
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
}

.dropdownbox {
  margin: 10px auto;
  /*width: 600px;*/
  /*display: float;*/
  float: right;
  /*position: relative;*/
}

.dropdownunit {
  margin-right: 50px;
  float: right;
  /*position: absolute;*/
}

.dropdown-container {
  margin: auto;
}

*[role="form"] {
  max-width: 530px;
  padding: 15px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 0.3em;
}

*[role="form"] h2 {
  margin-left: 5em;
  margin-bottom: 1em;
}

.user {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-align: center;
}

.chat-button {
  margin-left: 20px;
}
