<!-- Nav Bar - lines 2 through 28-->
<nav class="navbar navbar-default navbar-fixed-top ">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
              aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/search">Dvelop.io</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav">
        <li><a href="#/signup">Profile</a></li>
        <li><a href="#/connections">Connections</a></li>
        <li><a href="#/search">Search</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-click="search.logout()"><a href="#">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div ng-controller="ConnectionsController" class="connections">
  <div class="suggested-connections">
    <h3>Would you like to connect with anyone here?</h3>


    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row-fluid">
            <div class="col-md-3"
                 ng-repeat="user in usersDisconnected">
              <div class="userinfo">
                <div class="userphotobox">
                  <img class="userphoto" src="{{ user.profileImageUrl }}">
                </div>
                <button type="button" class="btn btn-primary"
                        data-toggle="modal"
                        data-target=".bs-example-modal-sm">
                  Add connection
                </button>
                <p class="userinfobox">Name: {{user.displayName}}</p>

                <p class="userinfobox">Best at: {{user.bestAt}}</p>

                <p class="userinfobox">Available for Mentor:
                  {{user.mentorAvail}}</p>

                <p class="userinfobox">Help Skill: {{user.helpAvail}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="current-connections">
    <!-- TODO: display list of current connections -->
    <!-- TODO: add filtering options, ui options, etc... -->
    <p>Here are your connections</p>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row-fluid">
            <div class="col-md-3"
                 ng-repeat="user in usersConnected">
              <div class="userinfo">
                <div class="userphotobox">
                  <img class="userphoto" src="{{ user.profileImageUrl }}">
                </div>
                <button type="button" class="btn btn-primary"
                        data-toggle="modal"
                        data-target=".bs-example-modal-sm">
                  Add connection
                </button>
                <p class="userinfobox">Name: {{user.displayName}}</p>

                <p class="userinfobox">Best at: {{user.bestAt}}</p>

                <p class="userinfobox">Available for Mentor:
                  {{user.mentorAvail}}</p>

                <p class="userinfobox">Help Skill: {{user.helpAvail}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


<!-- Modal for connections -->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Your connection request was sent!</h4>
      </div>
      <div class="modal-body">
        <p>Happy codding!</p>
      </div>
    </div>
  </div>
</div>