<!-- Authentication/login page -->
<!-- <div><img src="/assets/heroimg.jpeg"></div> -->
<!--<div class="heroimg">

  <div class="authheader">
    <h1 class="heroh1" align="center">Welcome to Dvelop!</h1>

    <div align='center'>
      <button ng-click="login()"; return false>Sign in with GitHub</button>
    </div>

  </div>

</div>-->


<!-- Attach image here -->
<div class="heroContainer">
  <div class="heroImage">
  </div>
  <div class="heroMask">
  </div>
  <div class="authHeader">
    <h1 class="heroText" align="center">
      Welcome to Dvelop!
    </h1>
    <br>
    <br>


    <div class="heroButton" align='center'>

      <button class="heroBtn btn btn-default btn-lg dropdown-toggle"
              type="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false" ng-click="login()" ; return false>
        Please sign in with GitHub
      </button>
    </div>
  </div>
</div>


